<div chat-nav></div>
<!-- Chat -->
<div class="container" id="main">
  <div class="row">
    <div id="chat" class="col-md-12 chat">
      <div ng-repeat="msg in chatCtrl.messages">
        <!-- Server -->
        <div ng-if="msg.src === 'server'" class="media server">
          <div class="media-body">
            <h5 class="media-heading" ng-bind-html="msg.msg">
          </div>
        </div>

        <!-- Image -->
        <div class="col-xs-12" style="padding:0px">
          <div ng-if="msg.src === 'image'" class="media image col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix" style="padding:0px;" ng-click="chatCtrl.previewImage(msg.msg,msg.name)">
            <button class="media image" style="width:100%;height:100%;margin:0px;background-image: url({{msg.msg}});"><span class="label label-info">{{msg.name}}</span></button>
          </div>
        </div>

        <!-- Video -->
        <div class="col-xs-12" style="padding:0px">
          <div ng-if="msg.src === 'video'" class="media video col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix" style="padding:0px;">
            <a ng-if="msg.src === 'video'" target="_blank" href="{{msg.msg}}">
              <button class="media video" style="width:100%;background-color:transparent;height:100%;margin:0px;background-image: url('./img/video.png');"><span class="label label-info">Video de: {{msg.name}}</span></button>
            </a>
          </div>
        </div>

        <!-- Self -->
        <div ng-if="msg.src === 'self'" class="media self">
          <div class="media-body">
            <h5 class="media-heading" style="font-weight: bold">Yo: </h5>{{msg.msg}}
          </div>
        </div>

        <!-- Other -->
        <div ng-if="msg.src === 'other'" class="media other">
          <div class="media-body">
            <h5 class="media-heading name" style="font-weight: bold">{{msg.name}}: </h5>{{msg.msg}}
          </div>
        </div>

        <!-- Admin -->
        <div ng-if="msg.src === 'admin'" class="media admin">
          <div class="media-body">
            <h5 class="media-heading" style="font-weight: bold">{{msg.name}}: </h5>{{msg.msg}}
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer" class="col-md-12 no-gutter">
      <!-- Config -->
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" data-toggle="modal" data-target="#configModal" type="button">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>
          <button id="prv_kick" style="display:none;" class="btn btn-danger" alt="Expulsar persona" onclick="kickPrv()" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </span>
        <!-- Mensaje -->
        <input ng-keyup="$event.keyCode == 13 && chatCtrl.sendMessage()" id="msg_input" type="text" maxlength="500" ng-model="msg" class="form-control" placeholder="Mensaje">
        <input id="prv_name" type="text" hidden>
        <input id="prv_id" type="text" hidden>
        <span class="input-group-btn">
          <!-- Foto -->
          <input id="imagefile" type="file" style="display:none;" ngf-select="chatCtrl.uploadFiles($file, $invalidFiles)" accept="image/*,video/*" ngf-max-size="30MB" />
          <button class="btn btn-info" ng-hide="chatCtrl.user.uploading" id="photo_available" onclick="$('#imagefile').click();" type="button">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          </button>
          <button class="btn btn-warning disabled" ng-show="chatCtrl.user.uploading" id="photo_unavailable" type="button">
            <span class="glyphicon glyphicon-repeat gly-spin" aria-hidden="true"></span>
          </button>
          <!-- Enviar -->
          <button class="btn btn-default" ng-click="chatCtrl.sendMessage()" type="button">Enviar</button>
        </span>
      </div>
    </div>
  </div>
</div>

<div config-modal></div>
