<div chat-nav></div>
<script>
// Pusher.log = function(message) {
//   if (window.console && window.console.log) {
//     window.console.log(message);
//   }
// };
$('#msg_input').focus();
</script>
<!-- Chat -->
<div class="container" id="main">
  <div class="row">
    <div id="chat" class="col-md-12 chat">
      <div ng-repeat="msg in chatCtrl.messages">

        <!-- Server -->
        <div ng-if="msg.src === 'server'" class="media server">
          <div class="media-body">
            <h5 class="media-heading" ng-bind-html="msg.msg">
          </div>
        </div>

        <!-- Admin -->
        <div ng-if="msg.src === 'admin'" class="media admin">
          <div class="media-body">
            <h5 class="media-heading" style="font-weight: bold"><span ng-click="chatCtrl.setPrvt(msg.name, msg.uid)">{{msg.name}}</span></h5>{{msg.msg}}
          </div>
        </div>

        <!-- Self -->
        <div ng-if="msg.src === 'self'" class="media self">
          <div class="media-body">
            <h5 class="media-heading name" style="font-weight: bold"><span ng-style="{'color': msg.color}">Yo</span></h5>{{msg.msg}}
          </div>
        </div>

        <!-- Other -->
        <div ng-if="msg.src === 'other'" class="media other">
          <div class="media-body">
            <h5 class="media-heading name" style="font-weight: bold"><span ng-click="chatCtrl.setPrvt(msg.name, msg.uid)" style="cursor: pointer" ng-style="{'color': msg.color}">{{msg.name}}</span></h5>{{msg.msg}}
          </div>
        </div>

        <!-- Prvt -->
        <div ng-if="msg.src === 'prvt'" class="col-xs-12" style="padding:0px">
          <div style="cursor: pointer" class="media prvt clearfix" ng-class="{'col-xs-6 col-sm-4 col-md-3 col-lg-2': msg.media}">
            <div class="media-body">
              <h5 ng-click="chatCtrl.setPrvt(msg.name, msg.uid)" style="font-weight: bold" class="media-heading name">{{msg.name}} &gt; {{msg.to.name}}</h5><span ng-hide="msg.media">{{msg.msg}}</span>
              <button ng-click="chatCtrl.previewImage(msg.msg,msg.name)" ng-if="msg.media === 'image'" class="media image" style="width:100%;height:200px;margin:0px;" ng-style="msg.media === 'image' && {'background-image': 'url({{msg.msg}})'}"></button>
              <a ng-if="msg.media === 'video'" target="_blank" href="{{msg.msg}}">
                <button class="media video" style="width:100%;background-color:transparent;height:150px;margin:0px;background-image: url('./img/video.png');"></button>
              </a>
            </div>
          </div>
        </div>

        <!-- Media -->
        <div ng-if="msg.src === 'media'" class="col-xs-12" style="padding:0px">
          <div style="cursor: pointer" class="media media-cnt col-xs-6 col-sm-4 col-md-3 col-lg-2 clearfix">
            <div class="media-body">
              <h5 ng-click="chatCtrl.setPrvt(msg.name, msg.uid)" style="font-weight: bold" class="media-heading name">{{msg.name}}</h5>
              <button ng-if="msg.media === 'image'" ng-click="chatCtrl.previewImage(msg.msg,msg.name)" class="media image" style="width:100%;height:200px;margin:0px;" ng-style="{'background-image': 'url({{msg.msg}})'}"></button>
              <a ng-if="msg.media === 'video'" target="_blank" href="{{msg.msg}}">
                <button class="media video" style="width:100%;background-color:transparent;height:150px;margin:0px;background-image: url('./img/video.png');"></button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer -->
    <div id="footer" class="col-md-12 no-gutter">
      <!-- Config -->
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" data-toggle="modal" data-target="#configModal" type="button">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>
          <!-- Kick -->
          <button ng-show="chatCtrl.prvt.id" class="btn btn-danger" alt="Expulsar persona" type="button">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
          <!-- Private -->
          <button ng-show="chatCtrl.prvt.uid" ng-click="chatCtrl.unSetPrvt()" class="btn btn-primary" alt="Cancelar mensaje privado" type="button">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
          </button>
        </span>
        <!-- Mensaje -->
        <input ng-keyup="$event.keyCode == 13 && chatCtrl.sendMessage()" id="msg_input" type="text" maxlength="500" ng-model="msg" class="form-control" placeholder="Mensaje">
        <input ng-model="chatCtrl.prvt.name" type="text" hidden>
        <input ng-model="chatCtrl.prvt.uid" type="text" hidden>
        <span class="input-group-btn">
          <!-- Foto -->
          <input id="imagefile" type="file" style="display:none;" ngf-select="chatCtrl.uploadFiles($file, $invalidFiles)" accept="image/*,video/*" ngf-max-size="30MB" />
          <button class="btn btn-info" ng-hide="chatCtrl.user.uploading" onclick="$('#imagefile').click();" type="button">
            <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
          </button>
          <button class="btn btn-warning disabled" ng-show="chatCtrl.user.uploading" type="button">
            <span class="glyphicon glyphicon-repeat gly-spin" aria-hidden="true"></span>
          </button>
          <!-- Enviar -->
          <button class="btn btn-default" ng-click="chatCtrl.sendMessage()" type="button">Enviar</button>
        </span>
      </div>
    </div>
  </div>
</div>
<div config-modal config="chatCtrl.config" user="chatCtrl.user"></div>
