<!-- Nav -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" role="button">
                {{chatCtrl.name}}
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse no-margin" aria-expanded="false">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="navbar-form" role="search">
                        <div class="input-group">
                            <input id="sala_red" type="text" maxlength="20" class="form-control" placeholder="Nombre">
                            <span class="input-group-btn">
                            <button type="submit" onclick="window.location.replace('#/' + $('#sala_red').val())" class="btn btn-default active">Ir / Crear sala</button>
                        </span>
                        </div>
                    </div>
                </li>
                <li ng-show="chatCtrl.partner" class="active"><a>Canal oficial</a></li>
            </ul>
        </div>
    </div>
</nav>
