<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Contraseña</h4>
            </div>
            <div class="modal-body">
                <div class="input-group" style="width:100%">
                    <input type="password" class="form-control" maxlength="15" placeholder="Password" ng-model="password" value="" style="width:100%">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-block" ng-click="loginCtrl.login()" data-dismiss="modal">Ingresar</button>
            </div>
        </div>
    </div>
  </div>
</div>
